{
  "autologinUrl": "Incolla qui il tuo link autologin personale",
  "baseUrl": "https://tecsial.gsdcampus.it/",
  "courseUrls": [
    "https://tecsial.gsdcampus.it/corso/show/8122",
    "https://tecsial.gsdcampus.it/corso/show/15580",
    "https://tecsial.gsdcampus.it/corso/show/16146",
    "https://tecsial.gsdcampus.it/corso/show/16983"
  ],
  "workSchedule": {
    "days": [1, 2, 3, 4, 5],
    "shifts": [
      { "startHour": 9, "startMin": 30, "endHour": 13, "endMin": 0 },
      { "startHour": 16, "startMin": 30, "endHour": 20, "endMin": 0 }
    ]
  }
}
