{
  "autologinUrl": "https://tecsial.gsdcampus.it/autologin/CODICEFISCALE/TOKEN",
  "baseUrl": "https://tecsial.gsdcampus.it/",
  "ollamaModel": "qwen3.5:4b",
  "courseUrls": [],
  "workSchedule": {
    "days": [1, 2, 3, 4, 5, 6],
    "shifts": [
      { "startHour": 9, "startMin": 30, "endHour": 13, "endMin": 0 },
      { "startHour": 16, "startMin": 30, "endHour": 20, "endMin": 0 }
    ]
  }
}
