{
  "autologinUrl": "https://tecsial.gsdcampus.it/autologin/XXXX/YYYYYYYYYYYYYYYY",
  "baseUrl": "https://tecsial.gsdcampus.it/",
  "courseUrls": [
    "https://tecsial.gsdcampus.it/corso/show/8122",
    "https://tecsial.gsdcampus.it/corso/show/15580",
    "https://tecsial.gsdcampus.it/corso/show/16146"
  ]
}
